<!DOCTYPE html>
<html class="h-100" lang="{% block lang '' %}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>{% block title '' %}</title>
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('css/tachyons.min.css') }}">
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body class="bg-white black-80 h-100">
<div class="cf h-100 min-h-100 bg_light">
    <div class="h-100 fl ma0 pa3 pa4-ns bg-white black-70 measure-narrow f3 times"  >

        <header class="bb b--black-70 pv4">
            <h3 class="f2 fw7 ttu tracked lh-title mt0 mb3 avenir">Adrien Petitjean</h3>
            <h2 class="f3 fw4 i lh-title mt0">Développeur web</h2>
        </header>

        <section class="pt5 pb4 ma0">

            {% block content %}{% endblock %}
        </section>

        <footer id="contact" class="pt3 ph3 ph5-ns tc">
            <a class="link dim gray dib h2 w3 br-100 mr3 " href="#" title="">
                <img src="{{ asset('img/github.svg') }}" />
            </a>
            <a class="link dim gray dib h2 w3 br-100 mr3 " href="#" title="">
                <img src="{{ asset('img/linkedin.svg') }}" />
            </a>
            <a class="link dim gray dib h2 w3 br-100 mr3 " href="#" title="">
                <img src="{{ asset('img/twitter.svg') }}" />
            </a>
        </footer>
    </div>
</div>
</body>
</html>

